*,
*::before,
*::after {
  box-sizing: border-box;
}

#client_page {
  height: 100%;
  margin: 1em;
}

.blog-slider {
  width: 95%;
  position: relative;
  max-width: 80%;
  margin: auto;
  background: #fff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 25px;
  border-radius: 10px;
  height: auto;
  transition: all 0.3s;

  @media screen and (max-width: 992px) {
    max-width: 680px;
    height: auto;
  }

  @media screen and (max-width: 768px) {
    min-height: 500px;
    height: auto;
  }

  @media screen and (max-height: 500px) and (min-width: 992px) {
    height: auto;
  }

  &__wrp {
    height: 100%;
  }

  &__item {
    display: flex;
    // align-items: center;
    height: 100%;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    &.swiper-slide-active {
      .blog-slider__img {
        img {
          opacity: 1;
          transition-delay: 0.3s;
        }
      }
      .blog-slider__content {
        > * {
          opacity: 1;
          transform: none;

          @for $i from 0 to 15 {
            &:nth-child(#{$i + 1}) {
              transition-delay: $i * 0.1 + 0.3s;
            }
          }
        }
      }
    }
  }

  &__img {
    // width: 40%;
    width: 300px;
    flex-shrink: 0;
    height: 350px;
    box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2);
    border-radius: 8px;
    transform: translateX(-80px);
    align-self: center;
    overflow: hidden;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 8px;
      opacity: 0.8;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      border-radius: 8px;
      transition: all 0.3s;
    }

    @media screen and (max-width: 992px) {
      // width: 45%;
    }
    @media screen and (max-width: 768px) {
      transform: translateY(-25%);
      width: 90%;
    }
    @media screen and (max-width: 576px) {
      width: 95%;
    }
    @media screen and (max-height: 500px) and (min-width: 992px) {
      height: 270px;
    }
  }

  &__content {
    // width: 60%;
    padding-right: 25px;
    width: 100%;

    @media screen and (max-width: 992px) {
      // width: 55%;
    }
    @media screen and (max-width: 768px) {
      margin-top: -80px;
      text-align: center;
      padding: 0 30px;
    }

    @media screen and (max-width: 576px) {
      padding: 0;
    }
    > * {
      // transform: translateY(25px);
      transition: all 0.4s;
    }
  }

  &__code {
    color: #7b7992;
    margin-bottom: 15px;
    display: block;
    font-weight: 500;
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    color: #0d0925;
    margin-bottom: 20px;
  }

  &__text {
    color: #4e4a67;
    margin-bottom: 30px;
    line-height: 1.5em;
  }
}

.css-1aquho2-MuiTabs-indicator {
  background-color: rgba(211, 47, 47, 0.7) !important;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: rgba(211, 47, 47, 0.7) !important;
}

.dog-image {
  text-align: center;
  margin-top: 20px;

  img {
    max-width: 60%;
  }
}

.dog-loader {
  width: 100px;
  height: 100px;
  margin: 15px auto 50px auto;
  text-align: center;

  .dog-head {
    z-index: 100;
    animation: head-move 1s ease-in-out infinite;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .dog-body {
    height: 100%;
    width: 100%;
    margin: -62px auto 10px auto;
    background-image: url("http://www.clker.com/cliparts/T/0/9/J/e/4/dog-body-md.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.dog-loader-p {
  text-align: center;
}

@keyframes head-move {
  50% {
    transform: rotate(-10.5deg);
  }
}

@media screen and (max-width: 500px) {
  #subtitle {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  #recipeEntry-modal {
    width: 95%;
  }
}

@media screen and (max-width: 400px) {
  #recipeEntry-modal {
    width: 100%;
  }
}
